html, body{
    background-color: #F9E8C9;
    font-family: Arial;
}

header {
    width: 50%;
    text-align: center;
    color: #1D24CA;
    margin: auto;
    padding: 16px;
}

body {
    text-align: justify;
    color: #201658;
    margin-left: 250px;
    margin-right: 50px;
}

body h2 {
    color: #1D24CA
}

nav {
    display: block;
    width: 200px;
    height: 100%;
    background-color: #201658;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    display: block;
    color: #F9E8C9;
    text-decoration: none;
    text-align: left;
    padding: 16px;
}

nav a:hover {
    background-color: #1D24CA;
}

figure {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    border: 4px #1D24CA solid;
}

figcaption {
    color: #1D24CA;
    text-align: center;
}